<div class="card mb-3">
    <div class="card-header fw-bold">Quick Jobs (NOT IMPLEMENTED YET)</div>
    <div class="card-body p-2">
        <ul class="list-group list-group-flush">

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none">
                    <i class="fas fa-image"></i>
                    <span>Generate 30 Risa Images</span>
                </a>
            </li>

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none">
                    <i class="fas fa-image"></i>
                    <span>Generate Risa Images for 1 hour.</span>
                </a>
            </li>

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none">
                    <i class="fas fa-dumbbell"></i>
                    <span>Character Training</span>
                </a>
            </li>

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none">
                    <i class="fas fa-image"></i>
                    <span>Character Training</span>
                </a>
            </li>


        </ul>

    </div>
</div>
