{% extends "/base/sidebar_left_and_right.html" %}


{% block title %}Risa Playground App Manager{% endblock %}


{% block sidebar_left %}
    {% include "/dashboard/_runpod.html" %}
    {% include "/dashboard/_app_manager.html" %}
{% endblock sidebar_left %}


{% block sidebar_right %}
    {% include "/dashboard/_states.html" %}
{% endblock sidebar_right %}


{% block content %}
    <div class="row">

        <!-- Column 2.1 -->
        <div class="col-xxl-6">
            {% include "/dashboard/_jobs_queue.html" %}
        </div>

        <!-- Column 2.2 -->
        <div class="col-xxl-6">
            {% include "/jobs/_quick_jobs.html" %}
        </div>

    </div>
{% endblock content %}


{% block js_scripts %}
    <script type="module">
        import { initializeApi, apiCrud, uiHelpers } from '/static/js/api_utils.js';
        import { toast } from '/static/js/toast.js';

        initializeApi({
            access_token: "{{ tokens.access_token }}",
            refresh_token: "{{ tokens.refresh_token }}"
        });

        window.sendAppCommand = async function(appName, command) {
            const button = event.target.closest('button');
            if (button) {
                const group = button.closest('.btn-group');
                group.querySelectorAll('button').forEach(b => b.disabled = true);
                const icon = button.querySelector('i');
                if (icon) {
                    icon.className = 'fas fa-spinner fa-spin';
                }
            }
            
            try {
                await apiCrud.postText(`app_manager/${appName}/${command}`, {});
                toast.show(`App ${appName} command '${command}' sent successfully.`, 'success');
                setTimeout(() => {
                    uiHelpers.refreshPage();
                }, 2500);

            } catch (error) {
                toast.show(error.message || 'An unknown error occurred', 'danger');
                if (button) {
                    const group = button.closest('.btn-group');
                    group.querySelector('[title*="Start"]').disabled = false;
                    group.querySelector('[title*="Stop"]').disabled = false;
                    const icon = button.querySelector('i');
                    if(icon){
                        if(command === 'start'){
                            icon.className = 'fas fa-play';
                        } else {
                            icon.className = 'fas fa-stop';
                        }
                    }
                }
            }
        }

        window.startApp = function(appName) {
            sendAppCommand(appName, 'start');
        }

        window.stopApp = function(appName) {
            sendAppCommand(appName, 'stop');
        }
    </script>
{% endblock %}
