/* Context */
.context-outline {
    border: 2px solid #009dff !important;
    box-shadow: 0 0 0 2px #009dff0e;
}

.context-background {
    background-color: #009dff !important;
}

.context-background-dark {
    background-color: #009dff0e !important;
}

/* Context Template */
.context-template-outline {
    border: 2px solid #ffd500 !important;
    box-shadow: 0 0 0 2px #ffd5000e;
}

.context-template-background {
    background-color: #ffd500 !important;
}

.context-template-background-dark {
    background-color: #ffd5000e !important;
}
