.selected-image-outline {
    outline: 8px solid #22ff00 !important;
    /* outline, !important to override other styles if needed */
    outline-offset: -6px;
    /* Optional: to pull the outline slightly inwards */
    box-shadow: 0 0 10px rgba(60, 255, 0, 0.5);
    /* Optional: soft glow */
}
