/* Timeline Event Item */
.timeline-event-item {
    border: 1px solid var(--color-black);
    background-color: var(--color-dark);
}

/* Filter Year Divider Style */
.filter-year-divider {
    background: linear-gradient(135deg, #9d3bf3, #4700d5);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.filter-year-divider-sidebar {
    font-size: 1.0rem !important;
    border: 4px solid #ffeb3b;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-year-divider-regular {
    font-size: 1.8rem !important;
    border: 7px solid #ffeb3b;
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
