<div class="card mb-3">
    <div class="card-header fw-bold">Scripts: Jobs (NOT IMPLEMENTED YET)</div>
    <div class="card-body p-2">
        <ul class="list-group list-group-flush">

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalGenerateXyForLoraEpochs">
                    <i class="fas fa-image"></i>
                    <span>Generate XY Plot for Lora Epochs</span>
                </a>
            </li>

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#script2Modal">
                    <i class="fas fa-dumbbell"></i>
                    <span>Script 2</span>
                </a>
            </li>

            <li class="list-group-item p-2">
                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#script3Modal">
                    <i class="fas fa-image"></i>
                    <span>Script 3</span>
                </a>
            </li>

        </ul>

    </div>
</div>

{# Include modals for each script. Only example modal is implemented. #}
{% include "scripts/modals/_modal_generate-xy-for-lora-epochs.html" %}
{# Future: {% include "scripts/modals/_modal_script2.html" %} #}
{# Future: {% include "scripts/modals/_modal_script3.html" %} #}
