<div class="card">
    <div class="card-header">Scripts: Training</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#modalGenerateXyForLoraEpochs">
                    <i class="fas fa-chart-line me-1"></i>
                    <span>Generate XY Plot for Lora Epochs</span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#modalChooseBestEpoch">
                    <i class="fas fa-dumbbell me-1"></i>
                    <span>Choose Best Epoch</span>
                </a>
            </li>

        </ul>

    </div>
</div>

<div class="card">
    <div class="card-header">Scripts: Other</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal"
                    data-bs-target="#modalFixCivitaiDownloadFilenames">
                    <i class="fas fa-file-alt me-1"></i>
                    <span>Fix Civitai Download Filenames</span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal"
                    data-bs-target="#modalRsyncFiles">
                    <i class="fas fa-sync me-1"></i>
                    <span>Rsync Files</span>
                </a>
            </li>

        </ul>

    </div>
</div>

{% include "scripts/modals/_modal_generate-xy-for-lora-epochs.html" %}
{% include "scripts/modals/_modal_choose_best_epoch.html" %}
{% include "scripts/modals/_modal_fix_civitai_download_filenames.html" %}
{% include "scripts/modals/_modal_rsync_files.html" %}
