{% extends "base/container.html" %}

{% block title %}Instance Status{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Instance State: {{ instance_state.id }}</h1>
        </div>
    </div>

    <!-- List Key, Value table for each status -->
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">

                <!-- Table Header -->
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody>

                    <!-- Project Name -->
                    <tr>
                        <td>Project Name</td>
                        <td>{{ instance_state.project_name }}</td>
                    </tr>

                    <!-- ENV_NAME -->
                    <tr>
                        <td>ENV_NAME</td>
                        <td>{{ instance_state.id }}</td>
                    </tr>

                    <!-- BASE_DOMAIN -->
                    <tr>
                        <td>BASE_DOMAIN</td>
                        <td>{{ instance_state.base_domain }}</td>
                    </tr>

                    <!-- Last Updated -->
                    <tr>
                        <td>Last Updated</td>
                        <td>{{ instance_state.last_updated }}</td>
                    </tr>

                    <!-- Theme -->
                    <tr>
                        <td>Accent</td>
                        <td>{{ instance_state.accent }}</td>
                    </tr>

                    <!-- System Status -->
                    <tr>
                        <td>GPU Usage</td>
                        <td>{{ instance_state.gpu_usage }}</td>
                    </tr>

                    <tr>
                        <td>GPU Memory Used</td>
                        <td>{{ instance_state.gpu_memory_used }}</td>
                    </tr>
                    
                    <tr>
                        <td>CPU Usage</td>
                        <td>{{ instance_state.cpu_usage }}</td>
                    </tr>

                    <tr>
                        <td>Total Disk Space</td>
                        <td>{{ instance_state.total_disk_space }}</td>
                    </tr>
                    
                    <tr></tr>
                        <td>Used Disk Space</td>
                        <td>{{ instance_state.used_disk_space }}</td>
                    </tr>

                    <tr>
                        <td>Free Disk Space</td>
                        <td>{{ instance_state.free_disk_space }}</td>
                    </tr>

                    <tr>
                        <td>Disk Usage</td>
                        <td>{{ instance_state.disk_usage }}</td>
                    </tr>

                    <!-- Runpod -->
                    <tr>
                        <td>Runpod Pod ID</td>
                        <td>{{ instance_state.runpod_pod_id }}</td>
                    </tr>

                    <tr>
                        <td>Runpod Public IP</td>
                        <td>{{ instance_state.runpod_public_ip }}</td>
                    </tr>

                    <tr>
                        <td>Runpod GPU Name</td>
                        <td>{{ instance_state.runpod_gpu_name }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}

{% block js_scripts %}
{% endblock %}
