{% extends "base/base.html" %}

{% block title %}Instance Status{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Header -->
    <div class="row">
        <div class="col-md-12">
            <h1>Network Status</h1>
            <p>Last Updated: {{ network_state.last_updated | humanize if network_state.last_updated else '' }}</p>
            <p>
                This instance's ENV_NAME is: <strong>{{ ENV_NAME }}</strong>
            </p>
        </div>
    </div>

    <!-- List Key, Value tables for each status -->
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped">
                
                <!-- Table Header -->
                <thead>
                    <tr>
                        <th></th>
                        <th>DEV</th>
                        <th>LOCAL</th>
                        <th>PLAYGROUND</th>
                        <th>HOST</th>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody>

                    <!-- ENV_NAME -->
                    <tr>
                        <td>ENV_NAME</td>
                        <td>{{ network_state.dev.id }}</td>
                        <td>{{ network_state.local.id }}</td>
                        <td>{{ network_state.playground.id }}</td>
                        <td>{{ network_state.host.id }}</td>
                    </tr>

                    <!-- Last Updated -->
                    <tr>
                        <td>Last Updated</td>
                        <td>{{ network_state.dev.last_updated | humanize if network_state.dev.last_updated else ''  }}</td>
                        <td>{{ network_state.local.last_updated | humanize if network_state.local.last_updated else '' }}</td>
                        <td>{{ network_state.playground.last_updated | humanize if network_state.playground.last_updated else '' }}</td>
                        <td>{{ network_state.host.last_updated | humanize if network_state.host.last_updated else '' }}</td>
                    </tr>

                    <!-- BASE_DOMAIN -->
                    <tr>
                        <td>BASE_DOMAIN</td>
                        <td>{{ network_state.dev.base_domain }}</td>
                        <td>{{ network_state.local.base_domain }}</td>
                        <td>{{ network_state.playground.base_domain }}</td>
                        <td>{{ network_state.host.base_domain }}</td>
                    </tr>

                    <!-- Theme -->
                    <tr>
                        <td>Accent</td>
                        <td>{{ network_state.dev.accent }}</td>
                        <td>{{ network_state.local.accent }}</td>
                        <td>{{ network_state.playground.accent }}</td>
                        <td>{{ network_state.host.accent }}</td>
                    </tr>

                    <!-- System Status -->
                    <tr>
                        <td>GPU Usage</td>
                        <td>{{ network_state.dev.gpu_usage }}</td>
                        <td>{{ network_state.local.gpu_usage }}</td>
                        <td>{{ network_state.playground.gpu_usage }}</td>
                        <td>{{ network_state.host.gpu_usage }}</td>
                    </tr>

                    <tr>
                        <td>GPU Memory Used</td>
                        <td>{{ network_state.dev.gpu_memory_used }}</td>
                        <td>{{ network_state.local.gpu_memory_used }}</td>
                        <td>{{ network_state.playground.gpu_memory_used }}</td>
                        <td>{{ network_state.host.gpu_memory_used }}</td>
                    </tr>

                    <tr>
                        <td>CPU Usage</td>
                        <td>{{ network_state.dev.cpu_usage }}</td>
                        <td>{{ network_state.local.cpu_usage }}</td>
                        <td>{{ network_state.playground.cpu_usage }}</td>
                        <td>{{ network_state.host.cpu_usage }}</td>
                    </tr>
                    
                    <tr>
                        <td>Total Disk Space</td>
                        <td>{{ network_state.dev.total_disk_space }}</td>
                        <td>{{ network_state.local.total_disk_space }}</td>
                        <td>{{ network_state.playground.total_disk_space }}</td>
                        <td>{{ network_state.host.total_disk_space }}</td>
                    </tr>

                    <tr>
                        <td>Used Disk Space</td>
                        <td>{{ network_state.dev.used_disk_space }}</td>
                        <td>{{ network_state.local.used_disk_space }}</td>
                        <td>{{ network_state.playground.used_disk_space }}</td>
                        <td>{{ network_state.host.used_disk_space }}</td>
                    </tr>

                    <tr>
                        <td>Free Disk Space</td>
                        <td>{{ network_state.dev.free_disk_space }}</td>
                        <td>{{ network_state.local.free_disk_space }}</td>
                        <td>{{ network_state.playground.free_disk_space }}</td>
                        <td>{{ network_state.host.free_disk_space }}</td>
                    </tr>

                    <tr>
                        <td>Disk Usage</td>
                        <td>{{ network_state.dev.disk_usage }}</td>
                        <td>{{ network_state.local.disk_usage }}</td>
                        <td>{{ network_state.playground.disk_usage }}</td>
                        <td>{{ network_state.host.disk_usage }}</td>
                    </tr>

                    <!-- Runpod -->
                    <tr>
                        <td>Runpod Pod ID</td>
                        <td>{{ network_state.dev.runpod_pod_id }}</td>
                        <td>{{ network_state.local.runpod_pod_id }}</td>
                        <td>{{ network_state.playground.runpod_pod_id }}</td>
                        <td>{{ network_state.host.runpod_pod_id }}</td>
                    </tr>

                    <tr>
                        <td>Runpod Public IP</td>
                        <td>{{ network_state.dev.runpod_public_ip }}</td>
                        <td>{{ network_state.local.runpod_public_ip }}</td>
                        <td>{{ network_state.playground.runpod_public_ip }}</td>
                        <td>{{ network_state.host.runpod_public_ip }}</td>
                    </tr>

                    <tr>
                        <td>Runpod GPU Name</td>
                        <td>{{ network_state.dev.runpod_gpu_name }}</td>
                        <td>{{ network_state.local.runpod_gpu_name }}</td>
                        <td>{{ network_state.playground.runpod_gpu_name }}</td>
                        <td>{{ network_state.host.runpod_gpu_name }}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        
    </div>
</div>
    
{% endblock %}

{% block js_scripts %}
{% endblock %}
