{% extends "base/base.html" %}

{% block title %}View SD Checkpoint: {{ sd_checkpoint.name }}{% endblock %}
{% block content_header %}View SD Checkpoint: {{ sd_checkpoint.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Details</h3>
            <div class="card-tools">
                <a href="{{ url_for('edit_sd_checkpoint_page', sd_checkpoint_id=sd_checkpoint.id) }}" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a href="{{ url_for('list_sd_checkpoints_page') }}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">{{ sd_checkpoint.id }}</dd>

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">{{ sd_checkpoint.name }}</dd>

                <dt class="col-sm-3">Base Model:</dt>
                <dd class="col-sm-9">
                    {% if sd_checkpoint.sd_base_model %}
                        <a href="{{ url_for('view_sd_base_model_page', sd_base_model_id=sd_checkpoint.sd_base_model.id) }}">{{ sd_checkpoint.sd_base_model.name }} ({{sd_checkpoint.sd_base_model.id}})</a>
                    {% else %}
                        N/A
                    {% endif %}
                </dd>

                <dt class="col-sm-3">Is Realistic:</dt>
                <dd class="col-sm-9">
                    {% if sd_checkpoint.is_realistic %}
                        <span class="badge bg-success">Yes</span>
                    {% else %}
                        <span class="badge bg-secondary">No</span>
                    {% endif %}
                </dd>
               
            </dl>
        </div>
    </div>
</div>
{% endblock %} 
