/* Theme Colors */
.bg-user {
    background-color: rgb(0, 109, 128) !important;
}

.bg-user-dev {
    background-color: rgb(0, 111, 20) !important;
}

.bg-admin {
    background-color: rgb(73, 0, 128) !important;
}

.bg-admin-dev {
    background-color: rgb(83, 0, 156) !important;
}





/* Default styles */
.container-fluid {
    max-width: 768px;
    margin: 0 auto;
}

/* Medium screen (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-fluid {
        max-width: 720px;
    }
}

/* Large screens (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        max-width: 960px;
    }
}

/* Extra large screens (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}

.navbar-nav .dropdown-menu {
    z-index: 2000 !important;
}

html,
body {
    height: 100%;
}

.d-flex.flex-column {
    min-height: 100%;
}

.container-fluid.mt-3.mb-5 {
    flex: 1;
}



/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--gold);
    color: var(--black);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 1000;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    transform: translateY(-5px);
}


h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.45rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1rem
}

.form-group label {
    padding-top: 10px;
}

.form-group ul {
    padding-left: 20px;
    padding-bottom: 10px;
    list-style-type: none;
}

.form-group input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}


/* Accent Color Utilities */
:root {
    --accent-subtle: color-mix(in srgb, var(--accent) 65%, black);
    --accent-light: color-mix(in srgb, var(--accent) 50%, white);

    --risa-host-accent-subtle: color-mix(in srgb, var(--risa-host-accent) 65%, black);
    --risa-dev-accent-subtle: color-mix(in srgb, var(--risa-dev-accent) 65%, black);
    --risa-local-accent-subtle: color-mix(in srgb, var(--risa-local-accent) 65%, black);
    --risa-playground-accent-subtle: color-mix(in srgb, var(--risa-playground-accent) 65%, black);

    --risa-host-accent-light: color-mix(in srgb, var(--risa-host-accent) 50%, white);
    --risa-dev-accent-light: color-mix(in srgb, var(--risa-dev-accent) 50%, white);
    --risa-local-accent-light: color-mix(in srgb, var(--risa-local-accent) 50%, white);
    --risa-playground-accent-light: color-mix(in srgb, var(--risa-playground-accent) 50%, white);
}

.accent {
    color: var(--accent) !important;
}

.risa-host-accent {
    color: var(--risa-host-accent) !important;
}

.risa-dev-accent {
    color: var(--risa-dev-accent) !important;
}

.risa-local-accent {
    color: var(--risa-local-accent) !important;
}

.risa-playground-accent {
    color: var(--risa-playground-accent) !important;
}

.accent-subtle {
    color: var(--accent-subtle) !important;
}

.risa-host-accent-subtle {
    color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-accent-subtle {
    color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-accent-subtle {
    color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-accent-subtle {
    color: var(--risa-playground-accent-subtle) !important;
}




.bg-accent {
    background-color: var(--accent) !important;
}

.risa-host-bg-accent {
    background-color: var(--risa-host-accent) !important;
}

.risa-dev-bg-accent {
    background-color: var(--risa-dev-accent) !important;
}

.risa-local-bg-accent {
    background-color: var(--risa-local-accent) !important;
}

.risa-playground-bg-accent {
    background-color: var(--risa-playground-accent) !important;
}










.bg-accent-subtle {
    background-color: var(--accent-subtle) !important;
}


.risa-host-bg-accent-subtle {
    background-color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-bg-accent-subtle {
    background-color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-bg-accent-subtle {
    background-color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-bg-accent-subtle {
    background-color: var(--risa-playground-accent-subtle) !important;
}









.border-accent {
    border-color: var(--accent) !important;
}

.risa-host-border-accent {
    border-color: var(--risa-host-accent) !important;
}

.risa-dev-border-accent {
    border-color: var(--risa-dev-accent) !important;
}

.risa-local-border-accent {
    border-color: var(--risa-local-accent) !important;
}

.risa-playground-border-accent {
    border-color: var(--risa-playground-accent) !important;
}


.border-accent-subtle {
    border-color: var(--accent-subtle) !important;
}

.risa-host-border-accent-subtle {
    border-color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-border-accent-subtle {
    border-color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-border-accent-subtle {
    border-color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-border-accent-subtle {
    border-color: var(--risa-playground-accent-subtle) !important;
}










.text-accent {
    color: var(--accent) !important;
}

.risa-host-text-accent {
    color: var(--risa-host-accent) !important;
}

.risa-dev-text-accent {
    color: var(--risa-dev-accent) !important;
}

.risa-local-text-accent {
    color: var(--risa-local-accent) !important;
}

.risa-playground-text-accent {
    color: var(--risa-playground-accent) !important;
}










.text-accent-light {
    color: var(--accent-light) !important;
}

.risa-host-text-accent-light {
    color: var(--risa-host-accent-light) !important;
}

.risa-dev-text-accent-light {
    color: var(--risa-dev-accent-light) !important;
}

.risa-local-text-accent-light {
    color: var(--risa-local-accent-light) !important;
}

.risa-playground-text-accent-light {
    color: var(--risa-playground-accent-light) !important;
}















.text-accent-subtle {
    color: var(--accent-subtle) !important;
}

.risa-host-text-accent-subtle {
    color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-text-accent-subtle {
    color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-text-accent-subtle {
    color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-text-accent-subtle {
    color: var(--risa-playground-accent-subtle) !important;
}









.card-header {
    color: var(--accent) !important;
}

.risa-host-card-header {
    color: var(--risa-host-accent) !important;
}

.risa-dev-card-header {
    color: var(--risa-dev-accent) !important;
}

.risa-local-card-header {
    color: var(--risa-local-accent) !important;
}

.risa-playground-card-header {
    color: var(--risa-playground-accent) !important;
}

.card {
    border-color: var(--accent) !important;
}

.risa-host-card {
    border-color: var(--risa-host-accent) !important;
}

.risa-dev-card {
    border-color: var(--risa-dev-accent) !important;
}

.risa-local-card {
    border-color: var(--risa-local-accent) !important;
}

.risa-playground-card {
    border-color: var(--risa-playground-accent) !important;
}
