/* Editable elements */
.editable {
    cursor: pointer;
}

.editable:hover {
    background: var(--color-dark);
}

.editable-header {
    cursor: pointer;
}

.editable-header:hover {
    background: var(--color-dark);
}

.editable-header:focus {
    background: #000;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
