/* Accent Color Utilities */
:root {
    --risa-host-accent-subtle: color-mix(in srgb, var(--risa-host-accent) 65%, black);
    --risa-dev-accent-subtle: color-mix(in srgb, var(--risa-dev-accent) 65%, black);
    --risa-local-accent-subtle: color-mix(in srgb, var(--risa-local-accent) 65%, black);
    --risa-playground-accent-subtle: color-mix(in srgb, var(--risa-playground-accent) 65%, black);

    --risa-host-accent-light: color-mix(in srgb, var(--risa-host-accent) 50%, white);
    --risa-dev-accent-light: color-mix(in srgb, var(--risa-dev-accent) 50%, white);
    --risa-local-accent-light: color-mix(in srgb, var(--risa-local-accent) 50%, white);
    --risa-playground-accent-light: color-mix(in srgb, var(--risa-playground-accent) 50%, white);
}
