.text-tag-section {
    color: var(--color-tag-section) !important;
    /* Coral color that works well with the template section */
}

.text-template-section {
    color: var(--color-tag-template) !important;
}

.text-master-section {
    color: var(--color-white) !important;
    /* Light Sea Green that complements the template section */
}



/* Tag Container */
.tag-container {
    border: 1px solid var(--color-black) !important;
    background-color: var(--color-dark) !important;
    padding-left: 0.8rem !important;
}

.tag-container-master {
    border: 1px solid var(--bs-primary) !important;
    background-color: rgba(var(--bs-primary-rgb), 0.10) !important;
}

.tag-container a {
    text-decoration: none !important;
    color: var(--color-white) !important;
    font-size: 1rem;
}


/* Tag Total Badges */
.total-contexts {
    background-color: var(--color-muted-more) !important;
}

.total-timeline-events {
    background-color: var(--color-muted-more) !important;
    /* Blue */
}

.total-zero {
    background-color: var(--color-red) !important;
    /* Red */
}
