.form-group label {
    padding-top: 10px;
}

.form-group ul {
    padding-left: 20px;
    padding-bottom: 10px;
    list-style-type: none;
}

.form-group input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}




.risa-host-accent {
    color: var(--risa-host-accent) !important;
}

.risa-dev-accent {
    color: var(--risa-dev-accent) !important;
}

.risa-local-accent {
    color: var(--risa-local-accent) !important;
}

.risa-playground-accent {
    color: var(--risa-playground-accent) !important;
}




.risa-host-accent-subtle {
    color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-accent-subtle {
    color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-accent-subtle {
    color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-accent-subtle {
    color: var(--risa-playground-accent-subtle) !important;
}





.risa-host-bg-accent {
    background-color: var(--risa-host-accent) !important;
}

.risa-dev-bg-accent {
    background-color: var(--risa-dev-accent) !important;
}

.risa-local-bg-accent {
    background-color: var(--risa-local-accent) !important;
}

.risa-playground-bg-accent {
    background-color: var(--risa-playground-accent) !important;
}











.risa-host-bg-accent-subtle {
    background-color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-bg-accent-subtle {
    background-color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-bg-accent-subtle {
    background-color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-bg-accent-subtle {
    background-color: var(--risa-playground-accent-subtle) !important;
}










.risa-host-border-accent {
    border-color: var(--risa-host-accent) !important;
}

.risa-dev-border-accent {
    border-color: var(--risa-dev-accent) !important;
}

.risa-local-border-accent {
    border-color: var(--risa-local-accent) !important;
}

.risa-playground-border-accent {
    border-color: var(--risa-playground-accent) !important;
}




.risa-host-border-accent-subtle {
    border-color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-border-accent-subtle {
    border-color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-border-accent-subtle {
    border-color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-border-accent-subtle {
    border-color: var(--risa-playground-accent-subtle) !important;
}











.risa-host-text-accent {
    color: var(--risa-host-accent) !important;
}

.risa-dev-text-accent {
    color: var(--risa-dev-accent) !important;
}

.risa-local-text-accent {
    color: var(--risa-local-accent) !important;
}

.risa-playground-text-accent {
    color: var(--risa-playground-accent) !important;
}










.risa-host-text-accent-light {
    color: var(--risa-host-accent-light) !important;
}

.risa-dev-text-accent-light {
    color: var(--risa-dev-accent-light) !important;
}

.risa-local-text-accent-light {
    color: var(--risa-local-accent-light) !important;
}

.risa-playground-text-accent-light {
    color: var(--risa-playground-accent-light) !important;
}















.risa-host-text-accent-subtle {
    color: var(--risa-host-accent-subtle) !important;
}

.risa-dev-text-accent-subtle {
    color: var(--risa-dev-accent-subtle) !important;
}

.risa-local-text-accent-subtle {
    color: var(--risa-local-accent-subtle) !important;
}

.risa-playground-text-accent-subtle {
    color: var(--risa-playground-accent-subtle) !important;
}










.risa-host-card-header {
    color: var(--risa-host-accent) !important;
}

.risa-dev-card-header {
    color: var(--risa-dev-accent) !important;
}

.risa-local-card-header {
    color: var(--risa-local-accent) !important;
}

.risa-playground-card-header {
    color: var(--risa-playground-accent) !important;
}



.risa-host-card {
    border-color: var(--risa-host-accent) !important;
}

.risa-dev-card {
    border-color: var(--risa-dev-accent) !important;
}

.risa-local-card {
    border-color: var(--risa-local-accent) !important;
}

.risa-playground-card {
    border-color: var(--risa-playground-accent) !important;
}
