{% extends "base/base.html" %}

{% block title %}View Character: {{ character.name }}{% endblock %}
{% block content_header %}View Character: {{ character.name }} ({{ character.id }}){% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Character Details</h3>
                    <div class="card-tools">
                        <a href="{{ url_for('edit_character_page', character_id=character.id) }}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="{{ url_for('list_characters_page') }}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">ID:</dt>
                        <dd class="col-sm-9">{{ character.id }}</dd>
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">{{ character.name }}</dd>
                        <dt class="col-sm-3">Race:</dt>
                        <dd class="col-sm-9">{{ character.race if character.race else '' }}</dd>
                        <dt class="col-sm-3">Skin Color:</dt>
                        <dd class="col-sm-9">{{ character.skin_color if character.skin_color else '' }}</dd>
                    </dl>
                    <hr>
                    <h5>Head Attributes</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Hair Color:</dt>
                        <dd class="col-sm-9">{{ character.hair_color if character.hair_color else '' }}</dd>
                        <dt class="col-sm-3">Hair Style:</dt>
                        <dd class="col-sm-9">{{ character.hair_style if character.hair_style else '' }}</dd>
                        <dt class="col-sm-3">Hair Length:</dt>
                        <dd class="col-sm-9">{{ character.hair_length if character.hair_length else '' }}</dd>
                        <dt class="col-sm-3">Face Type:</dt>
                        <dd class="col-sm-9">{{ character.face_type if character.face_type else '' }}</dd>
                        <dt class="col-sm-3">Eye Color:</dt>
                        <dd class="col-sm-9">{{ character.eye_color if character.eye_color else '' }}</dd>
                        <dt class="col-sm-3">Makeup Type:</dt>
                        <dd class="col-sm-9">{{ character.makeup_type if character.makeup_type else '' }}</dd>
                    </dl>
                    <hr>
                    <h5>Body Attributes</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Body Type:</dt>
                        <dd class="col-sm-9">{{ character.body_type if character.body_type else '' }}</dd>
                        <dt class="col-sm-3">Breasts Type:</dt>
                        <dd class="col-sm-9">{{ character.breasts_type if character.breasts_type else '' }}</dd>
                        <dt class="col-sm-3">Breasts Size:</dt>
                        <dd class="col-sm-9">{{ character.breasts_size if character.breasts_size else '' }}</dd>
                        <dt class="col-sm-3">Nipples Type:</dt>
                        <dd class="col-sm-9">{{ character.nipples_type if character.nipples_type else '' }}</dd>
                    </dl>
                    <hr>
                    <h5>Other Physical Attributes</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Hands Type:</dt>
                        <dd class="col-sm-9">{{ character.hands_type if character.hands_type else '' }}</dd>
                        <dt class="col-sm-3">Hips Type:</dt>
                        <dd class="col-sm-9">{{ character.hips_type if character.hips_type else '' }}</dd>
                        <dt class="col-sm-3">Ass Type:</dt>
                        <dd class="col-sm-9">{{ character.ass_type if character.ass_type else '' }}</dd>
                        <dt class="col-sm-3">Pussy Type:</dt>
                        <dd class="col-sm-9">{{ character.pussy_type if character.pussy_type else '' }}</dd>
                        <dt class="col-sm-3">Legs Type:</dt>
                        <dd class="col-sm-9">{{ character.legs_type if character.legs_type else '' }}</dd>
                        <dt class="col-sm-3">Feet Type:</dt>
                        <dd class="col-sm-9">{{ character.feet_type if character.feet_type else '' }}</dd>
                    </dl>
                    <hr>
                    <h5>Clothing Attributes</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Clothing - Head:</dt>
                        <dd class="col-sm-9">{{ character.clothing_head if character.clothing_head else '' }}</dd>
                        <dt class="col-sm-3">Clothing - Upper Body:</dt>
                        <dd class="col-sm-9">{{ character.clothing_upper_body if character.clothing_upper_body else '' }}</dd>
                        <dt class="col-sm-3">Clothing - Lower Body:</dt>
                        <dd class="col-sm-9">{{ character.clothing_lower_body if character.clothing_lower_body else '' }}</dd>
                        <dt class="col-sm-3">Clothing - Feet:</dt>
                        <dd class="col-sm-9">{{ character.clothing_feet if character.clothing_feet else '' }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Associated SD Extra Networks</h3>
                    <div class="card-tools">
                         <a href="/sd-extra-network/create?character_id={{ character.id }}" class="btn btn-primary btn-xs">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    </div>
                </div>
                <div class="card-body p-0">
                    {% if character.sd_extra_networks %}
                        <ul class="list-group list-group-flush">
                        {% for en in character.sd_extra_networks %}
                            <li class="list-group-item">
                                <a href="{{ url_for('view_sd_extra_network_page', sd_extra_network_id=en.id) }}">
                                    {{ en.safetensors_name if en.safetensors_name else en.id }}
                                </a>
                                <br>
                                <small class="text-muted">
                                    Base Model: 
                                    {% if en.sd_base_model_id %}
                                         <a href="{{ url_for('view_sd_base_model_page', sd_base_model_id=en.sd_base_model.id) }}">{{ en.sd_base_model.name if en.sd_base_model.name else en.sd_base_model.id }}</a>
                                    {% endif %}
                                    <br>
                                    {% if en.lora_tag %}Lora Tag: {{en.lora_tag}}{% endif %}
                                    <br>
                                    {% if en.trigger %}Trigger: {{en.trigger}}{% endif %}
                                </small>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p class="p-3">No SD Extra Networks associated with this character.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
