<div class="card risa-playground-card">
    <div class="card-header risa-playground-card-header">RunPod</div>
    <div class="card-body">
        <div class="p-2">
            <div class="row g-2">
                {% if risa_playground_state.is_running %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="p-2 bg-dark-subtle rounded text-center">
                            <small class="text-muted d-block mb-1">RunPod ID:</small>
                            <span class="fw-medium">{{ risa_playground_state.runpod_pod_id }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 text-center">
                        <div class="p-2 bg-dark-subtle rounded">
                            <small class="text-muted d-block mb-1">GPU:</small>
                            <span class="fw-medium">{{ risa_playground_state.runpod_gpu_name }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 text-center">
                        <div class="p-2 bg-dark-subtle rounded">
                            <small class="text-muted d-block mb-1">GPU Usage:</small>
                            <span class="fw-medium">{{ risa_playground_state.gpu_usage }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="p-2 bg-dark-subtle rounded text-center">
                            <small class="text-muted d-block mb-1">GPU Memory Used:</small>
                            <span class="fw-medium">{{ risa_playground_state.gpu_memory_used }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="p-2 bg-dark-subtle rounded text-center">
                            <small class="text-muted d-block mb-1">Free Disk Space:</small>
                            <span class="fw-medium">{{ risa_playground_state.free_disk_space }}</span>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 text-center">
                        <p class="text-muted">RunPod is not running</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- End of Selection -->
    </div>
</div> 
